.container {
  background: transparent;
  border-bottom: 1px solid #eaeaea;

  &[aria-disabled='true'] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.button {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  text-align: left;
  width: 100%;

  .icon {
    transition: transform 0.3s ease;
  }

  &[aria-expanded='true'] {
    .icon {
      transform: rotate(180deg);
    }
  }
}

.detail {
  overflow: hidden;
  transition: height 0.3s ease;

  > div {
    padding: 16px 0;
  }
}
